















<!DOCTYPE html>
<html  >
 <head>   
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!--<script src="script/script.js"></script>-->
<script src="scripts/ang_http.js"></script>


</head>
<body ng-app="myModel" >

<div  ng-controller="myController">

<!--<input type="text" placeholder="Search employees" ng-model="searchText"/>-->


<br/><br/>

<p>Data : {{content}}</p>
<p>Status : {{statuscode}}</p>
<p>StatusText : {{statustext}}</p>
 <!--<table>
<thead>
        <tr>   <th>Name</th>
                <th>Gender </th>
                <th>Salary</th>
                <th> City</th>
               
        </tr>

</thead>
 <tbody>
            <tr ng-repeat=" employee in employees |filter:searchText"> 

                <td>{{employee.name | uppercase}}</td>
                <td>{{employee.gender }}</td>
                <td>{{employee.salary | lowercase}}</td>
                <td>{{employee.city }}</td> 
            </tr>
 </tbody>
 </table>-->
</div>


</body>
</html>