

















<!DOCTYPE html>
<html  >
 <head>   
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!--<script src="script/script.js"></script>-->
<script src="scripts/ngchange.js"></script>

</head>
<body ng-app="myModel" >

<p>Try to change the names.</p>

<!--<div  ng-controller="myController">-->



<div ng-controller="myController">






<label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/>
Show when checked:
<span ng-if="checked" class="animate-if">
  This is removed when the checkbox is unchecked.
</span>





</div>


<!--</div>-->


</body>
</html>