

















<!DOCTYPE html>
<html  >
 <head>   
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!--<script src="script/script.js"></script>-->
<script src="scripts/nginit.js"></script>

</head>
<body ng-app="myModel" >

<p>Try to change the names.</p>

<!--<div  ng-controller="myController">-->



<div ng-controller="myController">






<div ng-repeat="innerList in list" ng-init="outerIndex = $index">
    <div ng-repeat="value in innerList" ng-init="innerIndex = $index">
       <span class="example-init">list[ {{outerIndex}} ][ {{innerIndex}} ] = {{value}};</span>
    </div>
  </div>






</div>


<!--</div>-->


</body>
</html>